.card {
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #000;
    background-color: #fff;
  }

  &__body {
    padding: 1.5rem;
  }

  &__description {
    margin-top: 0;
  }

  &__date {
    margin-bottom: 1rem;
  }

  &__link {
    width: 100%;
    display: block;
    text-align: right;
  }

  &__header img {
    width: 100%;
  }

  &__name {
    margin-top: 0;
    font-family: var(--primary-font);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
