.CardList {
  margin: 1rem;
  padding: 0;
  list-style: none;
  width: calc(100% - 2rem);

  &__item {
    width: calc((100% / 3) - 2rem);
    margin: 1rem;
  }

  @media (max-width: 768px) {
    &__item {
      width: 100%;
    }
  }
}
