.CardList {
  column-count: 3;
  column-gap: 2rem;
  margin: 2rem;
  padding: 0;

  &__item {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 2rem;
    break-inside: avoid;
  }

  &-empty-state {
    align-items: center;
    display: flex;
    height: calc(
      100vh - #{$headerPadding * 2} - #{$inputSearchByKeywordHeight}
    );
    justify-content: center;
  }
}
