.Tag {
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
}
