$darkColor: #333;
$lightColor: #fff;

@function getOpacityColor($theme, $value) {
  @if ($theme == "light") {
    @return rgba($darkColor, $value);
  } @else {
    @return rgba($lightColor, $value);
  }
}

@function getCustomColor($theme, $value, $type) {
  @if ($theme == "light") {
    @if ($type == "color") {
      @return lighten($darkColor, $value);
    } @else {
      @return darken($lightColor, $value);
    }
  } @else {
    @if ($type == "color") {
      @return lighten($lightColor, $value);
    } @else {
      @return darken($darkColor, $value);
    }
  }
}

@function getColor($theme, $type) {
  @if ($theme == "light") {
    @if ($type == "color") {
      @return $darkColor;
    } @else {
      @return $lightColor;
    }
  } @else {
    @if ($type == "color") {
      @return $lightColor;
    } @else {
      @return $darkColor;
    }
  }
}

@mixin generateTheme($theme) {
  &--#{$theme} {
    background-color: getCustomColor($theme, 5%, "backgroundColor");
    color: getColor($theme, "color");

    .App__left-column {
      background-color: getCustomColor($theme, 0%, "backgroundColor");
    }

    .Card {
      color: getCustomColor($theme, 20%, "color");
      background-color: getColor($theme, "backgroundColor");

      &__name {
        color: getColor($theme, "color");
      }
    }

    .Header {
      background-color: getCustomColor($theme, 5%, "backgroundColor");
      box-shadow: 800px -100px 20px 100px #{getCustomColor(
          $theme,
          20%,
          "backgroundColor"
        )};

      &__search-by-keyword {
        color: getColor($theme, "color");
        border-bottom: 1px solid getOpacityColor($theme, 0.1);
      }
    }

    .SocialNetwork__link {
      color: getCustomColor($theme, 10%, "color");
    }

    .Tag {
      background-color: getCustomColor($theme, 10%, "backgroundColor");
    }

    .Profile__toggle-theme {
      box-shadow: 0 0 0 5px inset getColor($theme, "color");

      &:hover {
        box-shadow: 0 0 0 3px inset getColor($theme, "color");
      }
    }
  }
}

.App-theme {
  @include generateTheme("light");
  @include generateTheme("dark");
}
