@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  line-height: 1.75rem;
}

.sticky {
  position: sticky !important;
  top: 0px;
}

// Variables

$headerPadding: 1rem;
$inputSearchByKeywordHeight: 30px;

// Components sorted alphabetically

@import "card_list.scss";
@import "card.scss";
@import "dropdown.scss";
@import "filter.scss";
@import "header.scss";
@import "profile.scss";
@import "social_network.scss";
@import "tag.scss";
@import "thumbnail.scss";

// Theme must be imported at the end to replace the colors

@import "theme.scss";
